*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App{
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/background/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 5vw;
}

.header h2{
  color: #00503D;
  font-size:30px;

}

.navbar{
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
}

.navbar p{
  font-weight: bold;
  opacity: 40%;
  font-size: 24px;
}

.card_wrapper{
  position: absolute;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100vw;
  z-index: 3;
}
.card_wrapper .card{
  position: relative;
  height: 250px;
  width: 250px;
  padding: 3vh 0vh;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #ACACAC;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 5vh;
  background-color: whitesmoke;
  transition: 0.25s;
  scale: 0.9;
}
.card_wrapper .card:hover{
  transform: translateY(-10px);
}
.card_wrapper .card_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vh;
  padding:  0vh 4vh;

  
}
.card_header img{
  position: absolute;
  height: 200px;
  width: 200px;
  top: -120px;
  left:25px;
}
.card_header h2{
  font-size: 20px;
}
.card_header p{
  font-size: 14px;
  font-weight: 400;
  color: #ACACAC;
}

.card .card_body{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card .card_body::before{
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  left: 15px;
  top: -10px;
  border-top: 2px solid #ACACAC ;
  opacity: 20%;
}

.card .card_infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 1vh;
}

.card .card_infos p:first-child{
  font-size: 12px;
  font-weight: 400;
  color: #ACACAC;
}

.card .card_infos p:last-child{
  font-size: 12px;
  font-weight: bold;
}

.large_images_wrapper img{
  height: 700px;
  width: 700px;
  position: absolute;
  z-index: 2;
  top: -5%;
  right:-710px;
}

.siqui{
  position: absolute;
  top: 25%;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw;
}
.siqui p{
  font-size: 40px;
  font-weight: bold;
  color: #535353;
}
.disclaimer{
  display: none;
}

@media screen and (max-width: 1200px) {
  .App{
    display: none;
  }
  .disclaimer{
    display: block;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 0px 2vh 0px 2vh;
    background-image: url("./assets/background/background.png");
  }
}
